#container-login {
    background-color : white;
}

.title-container {
    text-align: center;
}

#form-container {
    width : 40vw;
    height: 45vh;
    margin : auto;
    margin-top : 200px;
    box-shadow: 8px 8px 8px -13px #000000, -8px -8px 8px -13px #000000;
    border-radius: 10px;
    background-color: whitesmoke;
    padding : 30px;
}

#login-form input{
    width : 15vw;
    margin : auto;
    margin-top : 40px;
}

#submit-login {
    width : 30%;
    margin : auto;
    margin-top : 60px;
}
